.wrapper {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}
.controllers {
	display: flex;
	justify-content:space-between;
	align-items: center;
  }
  .title{
	font-size: 20px;
	font-weight: 600;
	color: #292929;
  }
.img {
	width: 60px;
	display: inline-block;
	margin: 10px;
} 




.video {
	display: block;
	width: 100%;
	margin: 0 auto;
  }
  


  