  
  .aside {
    top: 80px; 
    padding: 20px;
    width: 35%;
    height: 90vh;
    overflow-y: auto;
  }
.lessons {
	list-style: none;
	padding: 0;
}
  .item {
	  margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    .aside {
      top: 80px; 
      padding: 20px;
      width: 95%;
      height: auto;
      overflow-y: auto;
    }
    }